* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  color: rgb(40, 40, 40);
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(0, 174, 255), aquamarine);
}

.lotto-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  height: 200px;
  justify-content: space-evenly;
}

.number-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 20px 20px, #ff5c6ad3, #000);
  justify-content: space-evenly;
  border-radius: 100%;
}

li:last-child {
  background: radial-gradient(circle at 20px 20px, #5ca8ffb7, #000);
}
li p {
  color: white;
  font-weight: bold;
}
.button-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
button {
  height: 35px;
  padding: 10px;
  background: linear-gradient(120deg, rgb(0, 52, 68), rgb(0, 97, 114));
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 0.3rem;
}
